# **MA0218: Introduction to Data Science and Artificial Intelligence Mini Project**

**Group Member:**
1. Keanu Ocvian Budiman ()
2. Lwa Hong Long ()
---

## **A. Problem Introduction**
- **Title:**   
Airbnb Recommendation System by using Advanced Statistical Models
- **Objective:**   

- **Motivation:**   

- **Research Questions:**

## **B. Data Preparation**

In [19]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
sb.set()

import warnings
warnings.filterwarnings('ignore')

In [20]:
housingData = pd.read_csv('data.csv')
housingData.head(10)

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,6400,The Studio Milan,13822,Francesca,TIBALDI,45.44119,9.17813,Private room,100,4,12,19/04/10,0.14,1,358
1,23986,""" Characteristic Milanese flat""",95941,Jeremy,NAVIGLI,45.44806,9.17373,Entire home/apt,150,1,15,07/09/20,0.21,1,363
2,28300,nice flat near the park,121663,Marta,SARPI,45.47647,9.17359,Private room,180,1,8,22/04/12,0.11,1,365
3,32119,Nico & Cynthia's Easy Yellow Suite,138683,Nico&Cinzia,VIALE MONZA,45.52014,9.22300,Entire home/apt,75,2,15,01/07/18,0.23,3,200
4,32649,Nico&Cinzia's Red Easy Suite!,138683,Nico&Cinzia,VIALE MONZA,45.51874,9.22495,Entire home/apt,71,2,29,23/10/16,0.71,3,308
5,37256,COZY FULLY FURNISHED PRIVATE STUDIO CITY CENTER,119002,Giancarlo,BUENOS AIRES - VENEZIA,45.46884,9.20777,Private room,55,2,34,13/05/19,0.49,2,0
6,40470,Giacinto Cosy & clean flat near MM1,174203,Giacinto,VIALE MONZA,45.52023,9.22747,Entire home/apt,75,3,37,24/07/17,0.33,2,350
7,42732,"Navigli near down town, linked Expo",186608,Francesco,MAGENTA - S. VITTORE,45.45814,9.17654,Entire home/apt,199,2,14,22/04/18,0.20,2,362
8,46536,Nico & Cinzia's Pink Suite!,138683,Nico&Cinzia,VIALE MONZA,45.52276,9.22478,Entire home/apt,76,2,27,03/07/18,0.23,3,150
9,55055,BEAUTIFUL MODERN ATTIC CENTER OF MI,246217,Cristina,BUENOS AIRES - VENEZIA,45.48096,9.21686,Entire home/apt,145,3,2,16/04/16,0.03,1,365

> In this dataset, we conclude that "id", "name", "host_id", and "host_name" won't make any effect on the sale price

In [ ]:
housingData.drop(columns=["id", "name", "host_id", "host_name"], inplace=True)
housingData.head(10)

,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,TIBALDI,45.44119,9.17813,Private room,100,4,12,19/04/10,0.14,1,358
1,NAVIGLI,45.44806,9.17373,Entire home/apt,150,1,15,07/09/20,0.21,1,363
2,SARPI,45.47647,9.17359,Private room,180,1,8,22/04/12,0.11,1,365
3,VIALE MONZA,45.52014,9.22300,Entire home/apt,75,2,15,01/07/18,0.23,3,200
4,VIALE MONZA,45.51874,9.22495,Entire home/apt,71,2,29,23/10/16,0.71,3,308
5,BUENOS AIRES - VENEZIA,45.46884,9.20777,Private room,55,2,34,13/05/19,0.49,2,0
6,VIALE MONZA,45.52023,9.22747,Entire home/apt,75,3,37,24/07/17,0.33,2,350
7,MAGENTA - S. VITTORE,45.45814,9.17654,Entire home/apt,199,2,14,22/04/18,0.20,2,362
8,VIALE MONZA,45.52276,9.22478,Entire home/apt,76,2,27,03/07/18,0.23,3,150
9,BUENOS AIRES - VENEZIA,45.48096,9.21686,Entire home/apt,145,3,2,16/04/16,0.03,1,365

In [22]:
print (housingData.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18322 entries, 0 to 18321
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   neighbourhood                   18322 non-null  object
 1   latitude                        18322 non-null  float64
 2   longitude                       18322 non-null  float64
 3   room_type                       18322 non-null  object
 4   price                           18322 non-null  int64
 5   minimum_nights                  18322 non-null  int64
 6   number_of_reviews               18322 non-null  int64
 7   last_review                     13260 non-null  object
 8   reviews_per_month               13260 non-null  float64
 9   calculated_host_listings_count  18322 non-null  int64
 10  availability_365                18322 non-null  int64
dtypes: float64(3), int64(5), object(3)
memory usage: 1.5+ MB
None

In [23]:
houseData = housingData.dropna()
print (houseData.info())

<class 'pandas.core.frame.DataFrame'>
Index: 13260 entries, 0 to 18255
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   neighbourhood                   13260 non-null  object
 1   latitude                        13260 non-null  float64
 2   longitude                       13260 non-null  float64
 3   room_type                       13260 non-null  object
 4   price                           13260 non-null  int64
 5   minimum_nights                  13260 non-null  int64
 6   number_of_reviews               13260 non-null  int64
 7   last_review                     13260 non-null  object
 8   reviews_per_month               13260 non-null  float64
 9   calculated_host_listings_count  13260 non-null  int64
 10  availability_365                13260 non-null  int64
dtypes: float64(3), int64(5), object(3)
memory usage: 1.2+ MB
None

In [26]:
#Check the unique values for room type
print (f"Room Type: {housingData["room_type"].unique()}")

Room Type: ['Private room' 'Entire home/apt' 'Shared room' 'Hotel room']